<div class="jumbotron">
    <h1 class="text-center">Bem-Vindo ao Cognitio</h1>
</div>
<p ng-show="mensagem.texto">
    {{mensagem.texto}}
</p>
<a ng-href="#/post" class="btn btn-primary">Novo Post</a>
<input ng-model="filtro" type="search" placeholder="parte do nome">
<p ng-show="posts.length">
    Posts cadastrados: {{posts.length}}
</p>
<p class="text-info" ng-hide="posts.length">
    Não há posts cadastrados
</p>
<div class="table-responsive">
    <table class="table table-hover">
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th class="text-center">Ação</th>
        </tr>
        <tr ng-repeat="post in posts | filter: filtro">
            <td>
                <a ng-href="#/post/{{post._id}}">{{post.titulo}}</a>
            </td>
            <td>{{post.autor}}</td>
            <td class="text-center">
                <button ng-click="remove(post)" class="btn btn-warning">Remover</buttom>
            </td>
        </tr>
    </table>
</div>